@use '../abstracts/' as *;

figure.wp-block-gallery {
    margin: 0 0 40px;

    > figure {
        & img {
            padding: .5rem;
            background-color: $color__white;
            box-shadow: 0 0 1.5rem 0 rgba($color__gallery-boxShadow, .5);
            cursor: pointer;

            &:hover {
                box-shadow: 0 0 1.8rem .1rem rgba($color__gallery-boxShadow, .8);
                transition: box-shadow .3s;
            }
        }

        & figcaption {
            display: none;
            opacity: 0;
        }
    }

}